@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: UC;
  src: url('fonts/UbuntuCondensed-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

#title_c {
  position: relative;
  text-align: center;
  display: block;
  margin 0 auto;
  text-align: center;
}

#title_m_txt {
  font-family: Oswald;
  color: Blue;
  font-weight: 900;
  font-size: 75px;
}

#title_m_about {
  font-family: UC;
  display: block;
  font-size: 20px;
  text-align: center;

  transition-duration: 0.4s;
}

#title_m_about:hover {
  color: red;
  cursor: pointer;
}

#about_c {
  position: absolute;
  top: 700px;
  width: 100%;
  text-align: center;
  font-family: Oswald;
  color: white;
  font-size: 50px;
}


#articles_c {
  position: absolute;
  top: 1200px;
}

article {
  height: 400px;
  width: 300px;
  background-color: white;
  border: 16px solid darkgrey;
  border-radius: 10px;
  z-index: 100;
  margin: 16px;
}
