@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #1f6d91;
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  position: absolute;
  right: 10px;
  top: 26px;
}

.nav_link {
  color: white;
  font-size: 20px;
  margin: 6px;
  text-decoration: none;
  font-family: Oswald;
  transition-duration: 0.2s;
  /*border: solid 1px black;*/
  border-bottom: solid 3px black;
}

.nav_link:hover {
  color: gold;
  border-bottom: solid 3px gold;
}

#logo_c {
  font-family: 'Oswald';
  width: 240px;
}
