@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: UC;
  src: url('fonts/UbuntuCondensed-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(150, 233, 193);
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  background-color: #1f9387;
  height: 60px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

nav {
  position: absolute;
  display: inline;
  right: 10px;
  top: 12px;
}

.nav_link {
  color: white;
  font-size: 20px;
  margin: 6px;
  text-decoration: none;
  font-family: Oswald;
  transition-duration: 0.2s;
  /*border: solid 1px black;*/
  border-bottom: solid 3px black;
}

.nav_link:hover {
  color: gold;
  border-bottom: solid 3px gold;
}

#m_this {
  background-color: black;
}

#m_this:hover {
  color: white;
  border-bottom: solid 3px black;
}



#logo_c {
  font-family: 'Oswald';
  diplay: inline;
  width: 250px;
  height: 70px;
}

#logo_txt {
  position: absolute;
  font-size: 25px;
  color: white;
  font-weight: 600;
  top: 10px;
}
